<% for (var i=0; i< products.length; i++){%>
<tr>
    <td><%= i + 1 %></td>
    <td><%= products[i].productName %></td>
    <td><%= products[i].color %></td>
    <td><%= products[i].category %></td>
    <td><%= products[i].status %></td>
    <td>
        <a href="/update-product?id=<%=products[i]._id%>" class="btn border-shadow update">
        <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete">
        <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>